*{
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
body{
    background: #000206;

}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: rgb(55, 14, 239);
    font-weight: 600;
    border-bottom: 1px solid #37e314;
    padding-bottom: 20px;
}
.quiz{
    padding: 20px 0px;

}
.quiz h2{
    font-size: 18px;
    font-weight: 600;
    color: rgb(245, 3, 3);
}
.btn{
    background: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: blue;
    color: #fff;
    border: 2px solid black;
    font-weight: 600;
    padding: 10px;
    margin: 20px auto 0;
    cursor: pointer;
    border-radius: 4px;
    width: 150px;
    display: none;
}
.correct{
    background: rgb(84, 225, 84);
}
.incorrect{
    background: rgb(228, 94, 94);

}
